<!DOCTYPE html>
<html>
    <head>
        <%- include('../template/head')-%>
        <style>
            
            html, body {
                height: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
            }
            .hide {
                display: none;
            }
        </style>
    </head>
    <body>
        
        <div class="" style="flex: 1 0 auto;">
        <%- include('../template/nav')-%>
        
        <div class="container text-white pb-3 pl-4 pr-4"
         style="margin-top:110px; max-width: 500px; border-radius: 2rem; background-color: #371d50;">

         <input id="inputFile" type="file" accept=".txt"
            class="container-fluid mt-3 border pt-2 pl-5" 
            style="height: 50px;border-radius: 1rem;">
        <label class="ml-2">It must be a .txt file.</label>

         <button id="convertBtn" type="button" class="btn btn-primary container-fluid mt-1" 
            style="height: 50px;border-radius: 1rem;">
            <div id="loading" class="hide">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Converting...
            </div>
            <div id="convert" class="">
                Convert
            </div>
        </button>
         
         <p id="err-status" class="ml-2 mt-3 text-danger text-center font-weight-bold hide"></p>
         <p id="success-status" class="ml-2 mt-3 text-success text-center font-weight-bold hide"></p>
         
      </div>
    
      </div>
    
      <%- include('../template/footer')-%>
      <script src="javascripts/home.js" type="text/javascript"></script>
    </body>

</html>