
<footer class="text-white pt-3 mt-3" style="background-color: #371d50; height: 100px; flex-shrink: 0;">

    <div class="text-center py-3">
        <div>&copy 2020 Copyright:
      <a href="/">Handwriter</a>
      </div>

      <div>Created By: 
        <a href="mailto:mayankgupta12321@gmail.com">Mayank Gupta</a>
      </div>

    </div>

  </footer>