<div class="container-fluid text-white fixed-top" style="background-color: #371d50;">
    <a href="/">
       <img class="mx-auto px-sm-1 px-md-3 px-lg-4 " 
            src="logo.png"
            id="logo" alt="Shrts" height="100px">
      
    </a>
</div>